/* ----------- 主页 ----------- */


/* ----------- 博文页 ----------- */

/* 行内代码 */
code {
    border-radius: 5px;
}

/* 使代码行号不可复制 */
.gutter pre {
    -webkit-user-select: none;
    user-select: none;
    color: #b3b3b3
}

/* 不显示Valine版权信息（博客中有一篇提到使用了valine，这里删掉只是避免每页重复） */
.v .txt-right {
    display: none;
}

/* 图片样式调整：为了不影响一些不需要圆角和阴影的图片，限定了包裹在<center>中的图片才应用此样式 */
.article-entry img, .article-entry video {
    border-radius: 3px;
    box-shadow: 0px 0px 13px #CCC;
    border: 0px;
}

/* 评论 */
.vat {
    color: #4b5cc4 !important;
}

/* 防止向下滚动时，边栏不断抖动（sidebar的样式是fixd，这个容易抖动） */
body,html {
    widht:100%;
    height:100%;
}
#sidebar {
    -webkit-transform: translateZ(0);
}

/* 标题样式调整 */
h2 {
  font-size: 1.75em;
  padding-left: 9px;
  line-height: 1.4;
  border-left: 6px solid #8798FF
}
h3 {
  font-size: 1.5em;
  line-height: 1.43
}
.article-entry h3:before {
  border-radius: 50%;
  background-color: #38b48b;
  content: '';
  width: 6px;
  display: inline-block;
  height: 6px;
  vertical-align: middle;
  margin-bottom: .18em;
  margin-right: 8px
}
#write > h3.md-focus:before,
#write > h4.md-focus:before {
  background-color: transparent;
  width: auto;
  height: auto
}
h4 {
  font-size: 1.25em
}
h4:before {
  background-color: #38b48b;
  content: '';
  width: 6px;
  display: inline-block;
  height: 2px;
  vertical-align: middle;
  margin-bottom: .18em;
  margin-right: 8px
}
h5 {
  font-size: 1em
}
h6 {
  font-size: 1em;
  color: #777
}
